@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.PartnersSection)Model.Content;   
}

<section class="mt-[10rem] mb-[3rem]">
    <div class="max-w-7xl mx-auto flex gap-[4rem] items-center justify-center">
       
        @if (content.Partners != null)
        {
            <img src="@content.Partners.Url()" />
        }

        @if (content.Partner2 != null)
        {
            <img src="@content.Partner2.Url()" />
        }

        @if (content.Partner3 != null)
        {
            <img src="@content.Partner3.Url()" />
        }

        @if (content.Partner4 != null)
        {
            <img src="@content.Partner4.Url()" />
        }

        @if (content.Partner5 != null)
        {
            <img src="@content.Partner5.Url()" />
        }

        @if (content.Partner6 != null)
        {
            <img src="@content.Partner6.Url()" />
        }
        
    </div>

</section>
